<?xml version="1.0" encoding="UTF-8" ?>
<Functions>
	<Settings>
    <LogPath>C:\Deploy-PC.log</LogPath>
    <Stage>1</Stage>
    <FileCopyOrder>1</FileCopyOrder>
    <UserAccountOrder>2</UserAccountOrder>
    <PowerConfigOrder>3</PowerConfigOrder>
    <SoftwareOrder>4</SoftwareOrder>
    <ComputerNameOrder>5</ComputerNameOrder>
    <LicenseKeyOrder>6</LicenseKeyOrder>
    <WindowsUpdatesOrder>7</WindowsUpdatesOrder>
  </Settings>
  <FileCopy>
		<Enabled>1</Enabled>
    <StageOne>0</StageOne>
    <StageTwo>0</StageTwo>
    <StageThree>1</StageThree>
		<MappedLetter>Z</MappedLetter>
		<UNCPath>\\computername\share</UNCPath>
    <DestPath>C:\FileCopy</DestPath>
		<Username>Domain\User</Username>
		<Password>password</Password>
	</FileCopy>
	<UserAccount>
		<Enabled>1</Enabled>
    <StageOne>1</StageOne>
    <StageTwo>0</StageTwo>
    <StageThree>0</StageThree>
		<DisableRootAdmin>1</DisableRootAdmin>
    <CsvFilePath>.\UserAccount.csv</CsvFilePath>
	</UserAccount>
  <PowerConfig>
    <Enabled>1</Enabled>
    <StageOne>1</StageOne>
    <StageTwo>0</StageTwo>
    <StageThree>0</StageThree>
    <MonitorTimeout>0</MonitorTimeout>
    <DiskTimeout>0</DiskTimeout>
    <StandbyTimeout>0</StandbyTimeout>
    <HibernateTimeout>0</HibernateTimeout>
  </PowerConfig>
  <Software>
    <Enabled>1</Enabled>
    <StageOne>1</StageOne>
    <StageTwo>0</StageTwo>
    <StageThree>0</StageThree>
    <ChocoUpdateAtBoot>1</ChocoUpdateAtBoot>
    <AdobeReader>1</AdobeReader>
    <AdobeFlash>1</AdobeFlash>
    <GoogleChrome>1</GoogleChrome>
    <MozillaFirefox>1</MozillaFirefox>
    <AdblockPlusIE>1</AdblockPlusIE>
    <AdblockPlusChrome>1</AdblockPlusChrome>
    <AdblockPlusFirefox>1</AdblockPlusFirefox>
    <Java>1</Java>
    <Office365Business>0</Office365Business>
    <Office365ProPlus>0</Office365ProPlus>
    <SevenZip>1</SevenZip>
    <Winrar>1</Winrar>
    <NotepadPlusPlus>0</NotepadPlusPlus>
    <SysInternals>0</SysInternals>
    <ProcMon>0</ProcMon>
  </Software>
  <ComputerName>
    <Enabled>1</Enabled>
    <StageOne>1</StageOne>
    <StageTwo>0</StageTwo>
    <StageThree>0</StageThree>
    <CustomName></CustomName>
    <SetToDellServiceTag>1</SetToDellServiceTag>
  </ComputerName>
  <LicenseKey>
    <Enabled>1</Enabled>
    <StageOne>1</StageOne>
    <StageTwo>0</StageTwo>
    <StageThree>0</StageThree>
    <PrintToFile>C:\licensekey.txt</PrintToFile>
  </LicenseKey>
  <WindowsUpdates>
    <Enabled>1</Enabled>
    <StageOne>1</StageOne>
    <StageTwo>1</StageTwo>
    <StageThree>1</StageThree>
  </WindowsUpdates>
  <AutoLogon>
    <Enabled>1</Enabled>
    <AutoAdminLogon>1</AutoAdminLogon>
    <Username></Username>
    <Password></Password>
    <ScriptPath>C:\script.ps1</ScriptPath>
  </AutoLogon>
</Functions>