<?xml version="1.0" encoding="UTF-8" ?>
<Functions>
	<Settings>
		<LogPath>C:\Deploy-PC.log</LogPath>
		<Stage>1</Stage>
		<FileCopyOrder>6</FileCopyOrder>
		<UserAccountOrder>1</UserAccountOrder>
		<PowerConfigOrder>2</PowerConfigOrder>
		<SoftwareOrder>5</SoftwareOrder>
		<ComputerNameOrder>3</ComputerNameOrder>
		<LicenseKeyOrder>4</LicenseKeyOrder>
		<WindowsUpdatesOrder>7</WindowsUpdatesOrder>
	</Settings>
	<FileCopy>
		<Enabled>1</Enabled>
		<StageOne>1</StageOne>
		<StageTwo>0</StageTwo>
		<StageThree>0</StageThree>
		<MappedLetter>Z</MappedLetter>
		<UNCPath>\\computername\share</UNCPath>
		<DestPath>C:\CopiedFiles</DestPath>
		<Username>Domain\User</Username>
		<Password></Password>
	</FileCopy>
	<UserAccount>
		<Enabled>1</Enabled>
		<StageOne>1</StageOne>
		<StageTwo>0</StageTwo>
		<StageThree>0</StageThree>
		<DisableRootAdmin>1</DisableRootAdmin>
		<CsvFilePath>.\UserAccount.csv</CsvFilePath>
	</UserAccount>
	<PowerConfig>
		<Enabled>1</Enabled>
		<StageOne>1</StageOne>
		<StageTwo>0</StageTwo>
		<StageThree>0</StageThree>
		<MonitorTimeout>0</MonitorTimeout>
		<DiskTimeout>0</DiskTimeout>
		<StandbyTimeout>0</StandbyTimeout>
		<HibernateTimeout>0</HibernateTimeout>
	</PowerConfig>
	<Software>
		<Enabled>1</Enabled>
		<StageOne>1</StageOne>
		<StageTwo>0</StageTwo>
		<StageThree>0</StageThree>
		<AdobeReader>0</AdobeReader>
		<AdobeFlash>0</AdobeFlash>
		<GoogleChrome>1</GoogleChrome>
		<MozillaFirefox>1</MozillaFirefox>
		<AdblockPlusIE>1</AdblockPlusIE>
		<AdblockPlusChrome>1</AdblockPlusChrome>
		<AdblockPlusFirefox>1</AdblockPlusFirefox>
		<Java>0</Java>
		<Office365Business>1</Office365Business>
		<Office365ProPlus>0</Office365ProPlus>
		<SevenZip>1</SevenZip>
		<Winrar>0</Winrar>
		<NotepadPlusPlus>0</NotepadPlusPlus>
		<SysInternals>0</SysInternals>
		<ProcMon>0</ProcMon>
		<VCRedist2010>1</VCRedist2010>
		<VCRedist2008>1</VCRedist2008>
		<VCRedist20152019>1</VCRedist20152019>
		<DotNet35>1</DotNet35>
		<MsVisualCPlusPlus2012>1</MsVisualCPlusPlus2012>
		<MsVisualCPlusPlus2013>1</MsVisualCPlusPlus2013>
	</Software>
	<ComputerName>
		<Enabled>1</Enabled>
		<StageOne>1</StageOne>
		<StageTwo>0</StageTwo>
		<StageThree>0</StageThree>
		<CustomName></CustomName>
		<SetToDellServiceTag>1</SetToDellServiceTag>
	</ComputerName>
	<LicenseKey>
		<Enabled>1</Enabled>
		<StageOne>1</StageOne>
		<StageTwo>0</StageTwo>
		<StageThree>0</StageThree>
		<PrintToFile>C:\Deploy-PC\licensekey.txt</PrintToFile>
	</LicenseKey>
	<WindowsUpdates>
		<Enabled>1</Enabled>
		<StageOne>1</StageOne>
		<StageTwo>1</StageTwo>
		<StageThree>1</StageThree>
	</WindowsUpdates>
	<AutoLogon>
		<Enabled>1</Enabled>
		<AutoAdminLogon>1</AutoAdminLogon>
		<Username></Username>
		<Password></Password>
		<ScriptPath>C:\Deploy-PC\Deploy-PC.bat</ScriptPath>
	</AutoLogon>
</Functions>
