<?xml version="1.0" encoding="UTF-8" ?>
<Functions>
	<LogPath>Deploy-PC.log</LogPath>
	<FileCopy>
		<Enabled>1</Enabled>
		<MappedLetter>Z</MappedLetter>
		<UNCPath>\\localhost\origin</UNCPath>
		<DestPath>C:\destination</DestPath>
	</FileCopy>
	<UserAccount>
		<Enabled>1</Enabled>
		<DisableRootAdmin>1</DisableRootAdmin>
		<CsvFilePath>.\UserAccount.csv</CsvFilePath>
	</UserAccount>
	<PowerConfig>
		<Enabled>1</Enabled>
		<MonitorTimeout>0</MonitorTimeout>
		<DiskTimeout>0</DiskTimeout>
		<StandbyTimeout>0</StandbyTimeout>
		<HibernateTimeout>0</HibernateTimeout>
	</PowerConfig>
	<Software>
		<Enabled>1</Enabled>
		<RemoveDefaultPackages>1</RemoveDefaultPackages>
		<AdobeReader>0</AdobeReader>
		<AdobeFlash>0</AdobeFlash>
		<GoogleChrome>0</GoogleChrome>
		<MozillaFirefox>0</MozillaFirefox>
		<AdblockPlusIE>0</AdblockPlusIE>
		<AdblockPlusChrome>0</AdblockPlusChrome>
		<AdblockPlusFirefox>0</AdblockPlusFirefox>
		<Java>0</Java>
		<Office365Business>0</Office365Business>
		<Office365ProPlus>0</Office365ProPlus>
		<SevenZip>0</SevenZip>
		<Winrar>0</Winrar>
		<NotepadPlusPlus>0</NotepadPlusPlus>
		<SysInternals>0</SysInternals>
		<ProcMon>0</ProcMon>
		<VCRedist2010>0</VCRedist2010>
		<VCRedist2008>0</VCRedist2008>
		<VCRedist20152019>0</VCRedist20152019>
		<DotNet35>0</DotNet35>
		<MsVisualCPlusPlus2012>0</MsVisualCPlusPlus2012>
		<MsVisualCPlusPlus2013>0</MsVisualCPlusPlus2013>
	</Software>
	<ComputerName>
		<Enabled>1</Enabled>
		<CustomName></CustomName>
		<SetToDellServiceTag>1</SetToDellServiceTag>
	</ComputerName>
	<LicenseKey>
		<Enabled>1</Enabled>
		<PrintToFile>C:\Deploy-PC\licensekey.txt</PrintToFile>
	</LicenseKey>
	<WindowsUpdates>
		<Enabled>1</Enabled>
		<Cycles>2</Cycles>
		<AutoLogon>1</AutoLogon>
		<Username></Username>
		<Password></Password>
	</WindowsUpdates>
</Functions>
